version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: tournament_postgres
    restart: always
    environment:
      POSTGRES_DB: tournament_manager
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: tournament_app
    depends_on:
      - postgres
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DB_HOST: postgres
      DB_NAME: tournament_manager
      DB_USER: postgres
      DB_PASSWORD: 123
      JWT_SECRET: "change-this-in-prod"
      PORT: 8080
    ports:
      - "8080:8080"
    restart: unless-stopped

volumes:
  postgres_data:
